{% extends 'admin-base.html' %}

{% block content %}

<table align="center" border="1" class="table text-center " style="width:1000px; height: 500px; ">
    <h2 align="center">View cart users</h2>
    <tr>
        <th>Customer Name</th>
        <th>Image</th>
        <th>Ordered items</th>
        <th>Price</th>
        
        
        
        <th>Action</th>
    </tr>
    {% for p in item %}
   <tr>
       <td>{{p.User.first_name}}</td>
    <td><img width="150px" src='{{ p.product.image.url }}' ></td>  
       <td>{{p.product.name}}</td>
       <td>{{p.product.price}}</td>
       
       <td>
        <a href="{% url 'deleteitem' p.id %}"class="btn btn-danger" >Delete</a></td>
        
    </tr>
    {% endfor %}
</table>


{% endblock %}