<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <title>Document</title>
</head>
<body>
    
    <div class="container " style="border-radius: 10px; width:50%">
        <div class="container text-center">
            {% for message in messages %}
        <h5>
            <div class="alert alert-success mt-5" style="width: 50%;">
                {{ message }}
            </div>
            {% endfor %}
       <form action="products_add" enctype="multipart/form-data" method="post" class="form pt-5 pb-5" style="width: 50%; margin-left:25%">
           {% csrf_token %}
           <h1 class="text-center">ADD PRODUCT</h1>
    
           <input type="text" name="product_name" class="form-control" value="{{pro.product_name}}" placeholder="product Name"><br>
           <input type="text" name="description"class="form-control"  value="{{pro.descrption}}" placeholder="description"><br>
           <input type="number" name="price"class="form-control"  value="{{pro.price}}" placeholder="price"><br>
           <input type="file" name="file"class="form-control"  value="{{ pro.image.url }}" accept="image/*" placeholder="image"><br>
           <select class="form-control w-100" name="sel">
           <option value="">Select category</option><br>
           {% for c in ca %}
           <option value="" >{{c.category_name}}</option><br>
           {% endfor %}
           </select><br>
           
           
           <button type="submit" class="btn btn-info m-5" style="margin-left: 40%;">Submit</button>
           <br>
       </form>
    </div>

</body>
</html>